html{
    scroll-behavior: smooth;/* permet de naviguer de maniere fluide si on appuie sur les liens ancres*/
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    color: #2c3e50;
    gap: 20%;
    font-size: 20px;
}
header{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    background-color: #2c3e50;
    margin-top: 10px;
    border-radius: 10px;
}
.logo img{
    width: 25%;
    border-radius: 90%;
    transition: transform 0.5s ease;
}
.logo img:hover { 
    transform: rotate(10deg) scale(1.1); /* petit effet de rotation dynamique */ }
ul{
    gap: 20px;
    list-style: none;
    display: flex;
}
li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
li a:hover{
    background-color: #e0b973;
    color: #2c3e50;
}
hr{
    width: 35%;
    height: 10px;
    background-color: #e0b973;
    border: none;
    border-radius: 5px;
}
h1, h2{
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 30px;
}
.container p{
    font-size: 20px;
    line-height: 30px; /* gere les interlingnes */
}
.container img{
    width: 400px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #161f29;
    transition: transform 1s;
}
.container img:hover{
    transform: scale(1.03);
}
.item{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.max{
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}
.valeur1{
    width: 95%;
    height: 100%;
    background-color: #2c3e50 ;
    border-radius: 10px;
}
.valeur2{
    width: 60%;
    height: 100%;
    background-color:#e0b973 ;
    border-radius: 10px;
}
.valeur3{
    width: 70%;
    height: 100%;
    background-color:#a0522d;
    border-radius: 10px;
}
.reseauform{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-top: 20px;
    gap:20%;
}
.reseaux{
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.reseaux a{
    text-decoration: none;
    color: #2c3e50;
    font-size: 30px;
}
.reseaux a img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0 10px;
    transition: 0.5s ease;
    
}
.reseaux a img:hover{
    transform: translateY(-8px);
}
fieldset{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color:#f5f5f5;
    border: 2px solid #2c3e50;
    padding: 20px;
}
input, textarea{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 15px;
}
textarea {
    height: 80px;
    resize: none;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color:#2c3e50;
    color: #fdfdfd;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
}
button:hover {
    background-color:#e0b973;
    color: #2c3e50;
}
